*.pyc
*.swp
develop-eggs
dist
src/*.egg-info
tags
build
eggs
.venv
.project
.pydevproject
*.sublime*
/src/ofxstatement_cd_tmb.egg-info/
/dist/
/build/
.idea
/src/ofxstatement/out/
/src/ofxstatement/examples/test.csv
/debug/
